* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display: flex;
    justify-content: center;
    background: #1E213F;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;

}
.buttons{
    background: #161932;
    border-radius: 31.5px;
    margin:60px 0;
}
.buttons-content{
    display: flex;
    padding: 10px;
    align-items: center;
}
.pomodoro{
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    color: #1E213F;
    background: #F87070;
    border-radius: 26.5px;
    padding: 15px 25px;

}
.second-btn {
    display: flex;
    text-align: center;
    align-content: center;
}
.break{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #D7E0FF;

    mix-blend-mode: normal;
    opacity: 0.4;
    padding: 0 20px;
}
.break:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* main */
.main{
    position:relative;
    width:410px;
    height: 410px;
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    border-radius: 50%;
    background: linear-gradient(
    315deg,#2e325a,#0e112a);
     border: none;
     display: flex;
     justify-content: center;
    align-items: center;
       
    
}
.main-content{
    cursor: pointer;
    background: #161932;
    border: none;
    border-radius: 50%;
    height: 366px;
    width: 366px;
    color: #d7e0ff; 
    position: relative;
    outline: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #circle-mobile{
    display: none;
}
/* #circle-tablet{
    margin:12px 14px;
} */
.progress-ring__circle {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg) translate(0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    stroke: #F87070;
} */
.outer-circle {
    width: 100%;
    height: 100%;
    background-color:#161932;
    border-radius: 50%;
    position: relative;
   
}
.progress-ring > circle {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg) translate(0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    stroke: #F87070;
}
svg.progress-ring.mobile{
    display: none;
}
  .time-content{
    position: absolute;
    top: 20%;
    right: 5%;
}
  
.time{
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 101px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -5px;
    color: #D7E0FF;
    padding: 50px;
}
.status{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 15px;
    color: #D7E0FF;
}
.status:hover{
    color: #F87070;
    cursor: pointer;
}
.setting{
    margin-top:80px;
}
.setting-btn:hover{
    cursor: pointer;
    filter: rgb(239,241,250);
}
/* modal */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 15;
    overflow: auto;
    display: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    border-radius: 25px;
    width: 540px;
    height: 464px;
    display: flex;
    z-index: 20;
    transform: translate(-50%, -50%);
}

.modal-content{
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E1E1;
    padding-bottom: 30px;
}
.modal-content h4{
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 5px;

    color: #161932;
}
.modal-header h4{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;

    color: #161932;
}
.close-btn{
    width: 14px;
    height: 14px;
}
.close-btn:hover path{
    cursor: pointer;
    filter: invert(0%) sepia(6%) saturate(34%) hue-rotate(162deg) brightness(104%) contrast(99%);
}
.parameters{
    padding: 20px 0;
    border-bottom: 1px solid #E3E1E1;
}
.inputs{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap:10px;
}
.input-line p{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    color: #1E213F;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.input-line{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}
.arrows{
    position: absolute;
    
}
.arrows-img{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 39px;
    left: 119px;
    gap:5px;
}
.arrows-img img:hover{
    filter: rgb(0, 0, 0);
    cursor: pointer;
}
.input-line input{
    background: #EFF1FA;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    width:140px;
    height: 48px;
    color: #1E213F;
    cursor: pointer;
    border:none;
    outline: none;
    text-align: center;
}
.fonts, .colors{
    padding:30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E3E1E1;
}
.colors{
    border: none;
}
.fonts-content{
    display: flex;
    gap:15px;
}
.kumbh{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
    background: #161932;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    
}
.roboto{
    font-family: 'Roboto Slab', serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */
    color: #1E213F;
    background: #EFF1FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    
}
.space{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */
    color: #1E213F;
    background: #EFF1FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    
}
.colors-content{
    display: flex;
    gap:15px;
    cursor: pointer;
}
.color-btn{
    width: 40px;
    height: 40px;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colors-content svg {
    width: 14px;
    height: 10px;
    display: none;
}
.color-btn.active svg {
    display: block;
}
.orange{
    width: 40px;
    height: 40px;
    background: #F87070;
    border-radius: 50%;
}
.blue{
    width: 40px;
    height: 40px;
    background: #70F3F8;
    border-radius: 50%;
}
.purple{
    width: 40px;
    height: 40px;
    background: #D881F8;
    border-radius: 50%;
}
.apply-btn{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    background: #F87070;
    border-radius: 26.5px;
    border: 1px solid #F87070;
    width: 140px;
    height: 53px;
    cursor: pointer;
    margin-left:140px;
}
.apply-btn:hover{
  opacity: 0.9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media only screen and (max-width: 590px) {
    .buttons-content p{
        font-size: 12px;
    }
    .main{
        width:300px;
        height: 300px;
    }
    svg.progress-ring.mobile{
        
        display: block;
        margin:10px;
    }
    #circle-tablet{
        display: none;
    }
    .time{
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        letter-spacing: -4px;

        color: #D7E0FF;
    }
    .status{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 13.125px;
    }
    .main-content{
        width: 267px;
        height: 267px;
    }
    .time-content{
        top: 7%;
        right: -5%;
    }
    .modal{
        width: 327px;
        height: 575px;
    }
    .modal-header h4{
        font-size: 20px;
        line-height: 20px;
    }
    .parameters{
        flex-direction: column;
        text-align: center;
    }
    .parameters h4{
        font-size: 11px;
        line-height: 11px;
    }
    .arrows-img{
    top: 1px;
    left: 225px;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .input-line{
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-between;
    }
    .input-line input{
        height: 40px;
    }
    .fonts, .colors{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .fonts, .colors h4{
        font-size: 11px;
        line-height: 11px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 4.23077px;
    }
    .apply-btn{
        margin-left: 59px;
        margin-top: -10px;
    }
}