* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --white: rgb(255,255,255);
    --smoteWhite: rgb(239,241,250);
    --black: rgb(22,25,50);
    --smoteBlack: rgb(30,33,63);
    --lightGray: rgb(215,224,255);
    --purple: rgb(216,129,248);
    --blue : rgb(122,243,248);
    --red : rgb(248,112,112);
    --fontFamilyKumbh: 'Kumbh Sans', sans-serif;
    --fontFamilyRoboto: 'Roboto Slab', serif;
    --fontFamilySpace: 'Space Mono', monospace;

}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--smoteBlack);
    color: var(--lightGray);
    font-family: var(--fontFamilyKumbh);
}
p {
    font-size: 14px;
    line-height: 18px;
    color: var(--lightGray);
    font-weight: bold;
}

h1 {
    font-size: 100px;
    line-height: 120px;
    font-weight: bold;
    letter-spacing: -5px;
}
h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 1px;
}
h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 15px;
}
h4 {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/*************
header
*************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 374px;
    height: 64px;
    border-radius: 32px;
    background: var(--black);
    padding: 10px;
}
.style-div {
    width: 120px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
.style-div:hover p {
    color: var(--smoteWhite);
}
.style-div.active {
    background: var(--red);
    color: var(--black);
}
.style-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.4;
    color: rgb(99, 105, 132);
}
.style-btn.active p {
    color: var(--smoteBlack);
}
/*************
main
*************/
.main {
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--black) 0%, var(--black) 15%, rgb(42, 46, 85) 100%);
    box-shadow: -30px -30px 90px -30px rgb(42, 46, 85);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background: var(--black);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
    position: absolute;
}
.progress {
    bottom: -100px;
    position: relative;
    stroke-width: 10;
    stroke: var(--red);
    stroke-linecap: round;
    fill: none;
    transform: rotate(270deg);
    transform-origin: center;
}
.time {
    display: flex;
    margin-bottom: 25px;
}
.status{
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.status:hover h3 {
    color: var(--red);
}
/*************
settings
*************/
.settings-btn {
    cursor: pointer;
}
.settings-btn:hover {
    fill: var(--smoteWhite);
    opacity: 1;
}
/*************
overlay and modal
*************/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;    
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 15;
    overflow: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 490px;
    background-color: var(--white);
    border-radius: 25px;
    z-index: 20;
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
/* top-settings */
.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    border-bottom: 2px solid var(--smoteWhite);
    align-items: baseline;
}
.modal-header h2 {
    color: var(--black);
}
.modal-header svg {
    cursor: pointer;
}
.modal-header svg:hover path{
    fill: var(--black);
    opacity: 1;
} 
.modal {
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}
.modal h3 {
    color: var(--black);
    letter-spacing: 5px;
}
/* inputs */
.inputs {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 2px solid var(--smoteWhite);
}
.inputs p {
    margin-bottom: 8px;
}
.inputs input {
    width: 140px;
    height: 48px;
    border: none;
    outline: none;
    background: var(--smoteWhite);
    border-radius: 10px;
    font-weight: bold;
    padding: 0 35px 0 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.arrows-div {
    position: absolute;
}
.arrows {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -38px;
    right: -110px;
}
.arrows svg {
    margin: 4px 0;
    cursor: pointer;
}
.arrows svg:hover path{
    stroke-opacity: 1;
} 
/* font */
.font {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--smoteWhite);
    padding: 25px 0;
}
.pickers {
    display: flex;
    align-items: center;
}
.pickers h5 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    /* cursor: pointer; */
}
.pickers .kumbh {
    font-family: var(--fontFamilyKumbh);
    background: var(--black);
    color: var(--white);
}
.pickers .roboto {
    font-family: var(--fontFamilyRoboto);
    background: var(--smoteWhite);
    color: var(--black);
    font-weight: 300;
}
.pickers .space {
    font-family: var(--fontFamilySpace);
    background: var(--smoteWhite);
    color: var(--smoteBlack);
}

.color {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.color-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-btn svg {
    width: 14px;
    height: 10px;
    display: none;
}
.color-btn.active svg {
    display: block;
}
.pickers .red {
    background: rgb(248,112,112);
}
.pickers .blue {
    background: rgb(122,243,248);
}
.pickers .purple {
    background: rgb(216,129,248);
}

.apply-btn {
    width: 140px;
    height: 54px;
    color: var(--white);
    background: var(--red);
    border-radius: 27px;
    border: none;
    outline: none;
    margin: 0 auto;
    position: relative;
    bottom: -28px;
    left:163px;
    cursor: pointer;
    font-weight: bold;
}
.apply-btn:hover {
    filter: brightness(135%);
}

@media (max-width: 767px) {
    header {
        width: 327px;
    }
    .style-div {
        width: 106px;
    }
    .main {
        transform: scale(.75);
    }
    .modal {
        width: 327px;
        height: 575px;
    }
    .modal-header {
        padding: 20px 25px;
    }
    .modal-header h2 {
        font-size: 22px;
    }
    .modal {
        padding: 20px 25px 0 25px;
    }
    .input-header {
        text-align: center;
    }
    .inputs {
        flex-direction: column;
    }
    .input-pomodoro,
    .input-short-break, 
    .input-long-break {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input-short-break {
        margin: 15px 0;
    }
    .arrows-div {
        right: 40px;
    }
    .arrows {
        top: 0;
        right: 0;
    }
    .font {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
    .color {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
    .pickers {
        margin-top: 8px;
    }

    @media (max-height: 300px) {
        .logo {
            margin: 40px 0;
        }
        .modal {
            top: 110%;
        }
    }
   
}
@media (max-width: 541px) {
    .apply-btn{
        left:70px;
        bottom:-10px;
    }
}
@media (max-height: 539px) {
    .logo {
        margin: 40px 0;
    }
    .modal {
        top: 90%;
    }
   
}
@media (max-width: 335px) {
    .header {
        transform: scale(0.8);
    }
    .main {
        transform: scale(.6);
    }
    .modal {
        transform: translate(-50%, -50%) scale(.8);
    }
}
